<%- include("../partials/header", { title: title, nav: "" }) %>

<main>
  <h1>500 - Server Error</h1>
  <p>Oops! Something went wrong on our end.</p>
  <p><a href="/">Return to Home</a></p>
</main>

<%- include("../partials/footer") %>
